# Connect to NeonDB Postgres
DATABASE_URL="postgres://user:password@host/dbname?sslmode=require"
DIRECT_URL="postgres://user:password@host/dbname?sslmode=require"

# NextAuth Configuration
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-secure-random-string-and-put-it-here"

# Admin Seed Info
ADMIN_EMAIL="admin@tlc.org"
ADMIN_PASSWORD="secure_admin_password"
